@import url('./custom-checkbox.css');
/* css reset */
*{margin: 0;padding: 0;box-sizing: border-box;}
*::after{box-sizing: border-box;}
*::before{box-sizing: border-box;}
ul,ol{list-style: none;}
a{color: inherit;text-decoration: none;}
input{font: inherit;}

/* common css */
body{
  font-size: 12px;
  line-height: 1.5;
  height: 100vh;
  display: flex;
}
.clearfix::after{
  content: '';
  display: block;
  clear: both;
}
/* iconfont */
.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
/* 滚动条 */
::-webkit-scrollbar {
  width: 5px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, .1);
}

/* neteaseMusic */
.neteaseMusic{
  display: flex;
  margin: auto;
  width: 1000px;
  height: 700px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(64, 64, 64, 0.7);
  flex-direction: column;
  /* transition: all ease .3s; */
  overflow: hidden;
}

/* header */
header{
  position: relative;
  height: 60px;
  background: #ba2502;
}
header .circle{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background:#f6be4f;
  position: absolute;
  top: 5px;
  left: 27px;
}
header .circle::before{
  content: '';
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background:#ed6b60;
  position: absolute;
  left: calc(-100% - 8px);
}
header .circle::after{
  content: '';
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background:#62c655;
  position: absolute;
  left: calc(100% + 8px);
}
header .logo {
  position: absolute;
  bottom: 0;
  left: 10px;
  width: 160px;
  height: 40px;
  background: url(../img/logo.png) no-repeat;
  background-size: contain;
}

/* main */
main{
  flex-grow: 1;
  display: flex;
  height: calc(100% - 60px);
}
/* main > aside */
aside{
  display: flex;
  flex-direction: column;
  width: 200px;
  background: #f6f6f6;
}

.newSong{
  border-top: 1px solid #c8c8c8;
  background: linear-gradient(to top, #e6e6e6, #ffffff);
  padding: 19px 0;
  text-align: center;
  cursor: pointer;
  transition: all ease .1s;
  border-right: 1px solid #c8c8c8;
  color: #333333;
  font-size: 16px;
}
.newSong.active{
  color: #ba2502;
  background: linear-gradient(to bottom, #e6e6e6, #c8c8c8);
}
#songList-container{
  flex-grow: 1;
  overflow-y: auto;
  border-right: 1px solid #c8c8c8;
}
.songList{
  width: 100%;
}
.songList > li{
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
}
.songList > li:nth-of-type(odd){
  background: #efefef;
}
.songList > li.active{
  background: #c8c8c8;
}
.songList > li.active::before{
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  bottom: 5px;
  width: 5px;
  background: #ba2502;
}
.songList > li > .songInfo{
  width: 100%;
  padding: 0 45px 0 27px;
}
.songList > li > .songInfo > p{
  width: 104px;
  margin-right: 46px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.songList > li > .songInfo >.song{
  font-size: 13px;
  line-height: 20px;
}
.songList > li:hover > .songInfo >.song{
  color: #ba2502;
}
.songList > li > .songInfo > .singer{
  font-size: 12px;
  color: #494949;
  line-height: 20px;
}
.songList > li > svg.icon-music{
  position: absolute;
  left: 0;
  width: 22px;
  height: 22px;
  margin-left: 5px;
}
.songList > li > svg.icon-hot{
  position: absolute;
  right: 0;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.songList > li > svg.icon-newest{
  position: absolute;
  right: 20px;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

/* main > uploadPage */
.uploadPage,
.infoPage{
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
}
.uploadPage.active{
  display: flex;
}
.uploadPage .draggable{
  width: 600px;
  height: 400px;
  border: 3px dashed #ddd;
  border-radius: 15px;
  line-height: 20px;
  font-size: 18px;
  color: #d7d7d7;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.uploadPage .draggable .loading{
  position: absolute;
  /* top: calc(100% + 3px); */
  height: 5px;
  left: 5px;
  bottom: 0px;
  width: 0%;
  background: #ed6b60;
  border-radius: 3px;
}
.uploadPage .clickable{
  border: 1px solid #ba2502;
  padding: 10px;
  width: 150px;
  line-height: 20px;
  font-size: 18px;
  text-align: center;
  color: #ba2502;
  border-radius: 5px;
  cursor: pointer;
  transition: all ease .3s;
  position: relative;
  top: 20px;
  left: -226px;;
}
.uploadPage .clickable:hover{
  background: #ba2502;
  color: #eeeeee;
}

/* main > infoPage */
.infoPage.active{
  display: flex;
}
.showArea{
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  width: 490px;
  border-radius: 10px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
}
.showArea {
  font-size: 16px;
}
.showArea h1{
  font-size: 24px;
  text-align: center;
}
.showArea > .row{
  display: flex;
  flex-direction: column;
}
.showArea > .row label{
  padding: 5px 5px;
  font-weight: 800;
}
.showArea > .row > input[type=text]{
  padding: 0 10px;
  height: 35px;
  font-size: 14px;
  color: #333333;
  border: 1px solid #bbb;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}
.showArea > .row > textarea{
  padding: 10px 10px;
  height: 130px;
  font-size: 14px;
  color: #333333;
  border: 1px solid #bbb;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  resize: none;
}
.showArea > .row.action{
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}
.showArea > .row.action> .hotSong,
.showArea > .row.action> .newestSong{
  display: flex;
  align-items: center;
}
.showArea > .row.action> .hotSong > .icon-hot,
.showArea > .row.action> .newestSong > .icon-newest
{
  margin-right: 5px;
  font-size: 1.5em;
  vertical-align: middle;
}
.showArea > .row.action> .newestSong  input {
  border: 1px solid #00BFFF;
}
.showArea > .row.action> .newestSong  input:after{
  background: #00BFFF;
}
.showArea > .row.action> .newestSong  input:checked{
  background: #00BFFF;
}
.showArea > .row.action> .newestSong  input:checked:after{
  background: #fff;
  color: #00BFFF;
}

.showArea  .button-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 15px 0 10px;
}
.showArea .button-wrapper .button{
  padding: 10px 0;
  width: 200px;
  line-height: 20px;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #ba2502;
}
.showArea .button-wrapper .delete{
  color: #eeeeee;
  background: #ba2502;
}
.showArea .button-wrapper .confirm{
  color: #ba2502;;
}
.showArea .button-wrapper .confirm:hover{
  color: #eeeeee;
  background: #ba2502;
}
.showArea .button-wrapper .delete::before,
.showArea .button-wrapper .confirm::before{
  font-size: 12px;
  line-height: 12px;
  width: 1.2em;
  height: 1.2em;
  text-align: center;
  border: 1px solid;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  margin-right: 10px;
}
.showArea .button-wrapper .delete::before{
  content: '!';
  color: #ba2502;
  background: #eeeeee;
}
.showArea .button-wrapper .confirm::before{
  content: '✔';
  color: #eeeeee;
  background: #ba2502;
}

/* loading区域  目前未启用*/
.site-loading{
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.2);
  /* pointer-events: none; 该属性可以点击遮罩浮层的下面 */
}
.site-loading.active{
  visibility: visible;
}
.site-loading::before{
  content: '';
  width: 50px;
  height: 50px;
  background: green;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -25px;
  border-radius: 50%;
  animation: loading 0.5s infinite alternate-reverse;
}
@keyframes loading{
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.1);
  }
}